parameters:
    dynamicConstantNames:
        - Perfidious\DEBUG
    scanFiles:
        - stubs/common.stub.php
        - stubs/linux.stub.php
    stubFiles:
        - stubs/common.stub.php
        - stubs/linux.stub.php
